@import url("https://legendary-donut-99380b.netlify.app/basic-styles/basicStyles.css");
@import url("./abstracts/variables.css");
@import url("./text/text.css");
@import url("./components/components.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    border: none;
    background: none;
}

body {
    width: 400px;
    margin: auto;
    background-color: var(--primary-color);
    /* border: 1px solid var(--secondary-color); */
}

main {
    width: 100%;
    color: white;
    padding: 20px;
    margin:auto;
    
}


















.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.centered {
    display: grid;
    place-items: center;
}
.center {
    justify-content: center;
}
.marginTop20 {
    margin-top: 20px;
}